section.gioithieu
	.banner
		.container
			nav.breadcrumb
				ul
					li
						a(href="index.html") Trang chủ
					li
						a(href="gioithieu.html") Giới thiệu
				h1 Giới thiệu
		img(src="/img/banner/bn-2.png", alt="/img/banner/bn-2.png")
	.choose
		.container
			h2 Lý do chọn
			.swiper-container
				.swiper-wrapper
					.swiper-slide.item
						figure
							img(src="/img/icon/icon-7.png", alt="/img/icon/icon-7.png")
						figcaption
							h3 Bài viết mới 100%
							p Thường xuyên cập nhật nội dung mới cho website là cách hiệu quả và bền vững nhất để nâng cao thứ hạng từ khóa.
					.swiper-slide.item
						figure
							img(src="/img/icon/icon-8.png", alt="/img/icon/icon-8.png")
						figcaption
							h3 Tối ưu từ khóa theo chuẩn SEO
							p Nội dung bài viết tốt, hấp dẫn sẽ kích thích độc giả quan tâm, chú ý tới website của bạn nhiều hơn.
					.swiper-slide.item
						figure
							img(src="/img/icon/icon-9.png", alt="/img/icon/icon-9.png")
						figcaption
							h3 Chất lượng bài viết mang lại giá trị thực sự
							p Nội dung là yếu tố có vai trò không thể thay đổi dù cho các công cụ tìm kiếm cập nhật thuật toán.
	.about
		.container
			h2 Giới thiệu
			.row.align-items-center
				.col-lg-6.order-1.order-lg-0
					.item
						h3 Content chính là cầu nối, là phương tiện dẫn dắt khách hàng đến với doanh nghiệp.
						p Đó chính là lý do Dịch vụ content ra đời, với mong muốn các bài viết content luôn đạt chuẩn SEO, nội dung sáng tạo và ngôn ngữ gần gũi với khách hàng, đồng thời mang lại giá trị tối đa cho doanh nghiệp qua những bài viết content.
						p Dịch vụ Content với đội ngũ viết content chuyên nghiệp, bất kể doanh nghiệp bạn làm gì, dự án ra sao, chúng tôi đều có thể viết nên những bài viết đảm bảo chất lượng, viết mới 100% với ý tưởng linh hoạt và truyền đạt được thông điệp đến khách hàng.
						p Đó chính là lý do Dịch vụ content ra đời, với mong muốn các bài viết content luôn đạt chuẩn SEO, nội dung sáng tạo và ngôn ngữ gần gũi với khách hàng, đồng thời mang lại giá trị tối đa cho doanh nghiệp qua những bài viết content.
						p Dịch vụ Content với đội ngũ viết content chuyên nghiệp, bất kể doanh nghiệp bạn làm gì, dự án ra sao, chúng tôi đều có thể viết nên những bài viết đảm bảo chất lượng, viết mới 100% với ý tưởng linh hoạt và truyền đạt được thông điệp đến khách hàng.
				.col-lg-6.order-0.order-lg-1
					img(src="/img/title/title-1.png", alt="/img/title/title-1.png")
	.team
		.container
			h2 Đội ngũ
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						figure
							img(src="/img/slider/gioithieu-slider-1.png", alt="slider-1.png")
						figcaption
							h3 Đoàn Trúc Diễm
							p Chief Executive Officer
					.swiper-slide
						figure 
							img(src="/img/slider/gioithieu-slider-2.png", alt="slider-2.png")
						figcaption
							h3 Trần Quốc Hùng
							p Chief Executive Officer
					.swiper-slide
						figure 
							img(src="/img/slider/gioithieu-slider-3.png", alt="slider-3.png")
						figcaption
							h3 Lê Kiều Trang
							p Chief Executive Officer
					.swiper-slide
						figure 
							img(src="/img/slider/gioithieu-slider-4.png", alt="slider-4.png")
						figcaption
							h3 Lê Hiếu
							p Chief Executive Officer
			.navi
				.mdi.mdi-chevron-left.left
				.mdi.mdi-chevron-right.right
	.feedback
		.container
			.row 
				.col.title
					h2 Cảm nhận của khách hàng
			.row 
				.col 
					.swiper-container 
						.swiper-wrapper
							-for(x=0; x<3; x++)
								.swiper-slide
									.img
										img(src="./img/logo-1.png", alt="")
									.text
										p “ Chúng tôi đã có khoảng thời gian hợp tác đáng nhớ với Dịch Vụ Content, bất cứ lúc nào chúng tôi cần bài viết mới, với những yêu cầu và ý tưởng sẵn có, chúng tôi luôn nhận được những bài viết hoàn toàn sáng tạo. ”
										h6 Chị Nguyễn Thị Thơ - Chủ shop Online
						.swiper-pagination


