section.tintuc-ct
	.banner
		img(src="../img/04_tintuc_ct/banner.png", alt="#")
		.container
			nav.link
				ul
					li
						a(href="index.html") Trang chủ >
					li
						a(href="tintuc.html") Tin tức >
					li
						a(href="tintuc-ct.html") Chi tiết
					h1 Tin tức
	.news-2
		.container
			.row
				.col-12.col-md-9.tintuc1
					h2 Đột phá trong năm 2018 với 9 xu hương Content Marketing được mong đợi nhất
					time 13/08/2018
					p.mt-4
						b Một số thuật ngữ được sử dụng trong bài viết 9 Xu hướng Content Marketing 2018:
					p
						b Influencer marketing: 
						Lorem một hình thức marketing sử dụng những influencer (tạm dịch là người ảnh hưởng) để gửi thông điệp của nhãn hàng đến thị trường.

					p
						b Cause marketing: 
						| kết hợp giữa quảng bá sản phẩm và khuyến khích phúc lợi xã hội.

					p
						b Thế hệ Millennial: 
						| hay còn gọi là thế hệ Y, khái niệm dùng để chỉ những người sinh ra trong khoảng thời gian từ 1980 đến những năm đầu thập niên 2000 (18-35 tuổi). Đây là những người lớn lên cùng các phương tiện truyền thông xã hội như forum, blog, Facebook… đồng thời họ là lực lượng lao động chủ đạo của hiện tại và tương lai.
					p
						b Proximity marketing: 
						| là việc phân phối nội dung quảng cáo không dây đến một địa điểm cụ thể. Người nhận là các cá nhân ở địa điểm gần đó với các thiết bị điện tử để nhận tín hiệu.

					p
						b Actionable marketing: 
						| khả năng tiếp thị để thuyết phục khách hàng tiềm năng và công chúng tham gia với công ty của bạn.
					p
						b B2B: 
						| viết tắt của thuật ngữ Business To Business – mô hình kinh doanh thương mại điện tử trong đó giao dịch xảy ra trực tiếp giữa các doanh nghiệp với nhau.  
					.img
						a(href="#")
							img(src="./img/04_tintuc_ct/baiviet_1.png", alt="")
					p Nhiều tổ chức đã thực hiện các khoản đầu tư công phu về content marketing trong những năm gần đây và đã cho ra  báo cáo về những khoản đầu tư đem lại cổ tức.Đó là những những dữ liệu mới nhất từ CMI chúng tôi nhận được.

					p Theo năm 2017 báo cáo tiêu chuẩn và xu hướng từ nội dung Viện Marketing và MarketingProfs, hơn 60% các nhà tiếp thị B2B báo cáo rằng chiến lược content marketing của họ có hiệu quả hơn so với một năm trước đó.

					p Trong năm 2015, 4% các marketers cảm thấy những nỗ lực của họ là “không hề có hiệu quả.” Rất may, những con số được cải thiện trong năm 2016 với 0% các marketers cho rằng content marketing của họ là “không hề hiệu quả.”
					p Có một số yếu tố góp phần cho sự thành công ấy, trong đó có chất lượng nội dung tốt hơn, xây dựng chiến lược, nhiều thời gian dành cho content marketing, và nhắm mục tiệu tốt hơn trong phân phối nội dung.	
					.img
						a(href="#")
							img(src="./img/04_tintuc_ct/baiviet_2.png", alt="")
					p Có thể dự đoán xu hướng, cũng như sự thay đổi trong hành vi của đối tượng dựa trên các xu hướng và cập nhật công nghệ, có thể giúp bạn điều chỉnh chiến lược của bạn và dẫn đầu làn sóng.
				.col-12.col-md-3.tintuc2
					h3 TIN TỨC KHÁC
					.row
						
						.col.col-md-12.tintuc2_1
							a(href="")
								figure
									img.img-fluid(src="./img/04_tintuc_ct/tintuc_1.png", alt="alt")
									figcaption
										time 12/12/2017
										p Vai trò của thiết kế trong Content Mar
						.col.col-md-12.tintuc2_1.boder
							a(href="")
								figure
									img.img-fluid(src="./img/04_tintuc_ct/tintuc_2.png", alt="alt")
									figcaption
										time 12/12/2017
										p 5 Loại content chính mà sản phẩm nào cũng phải có

						.col.col-md-12.tintuc2_1
							a(href="")
								figure
									img.img-fluid(src="./img/04_tintuc_ct/tintuc_3.png", alt="alt")
									figcaption
										time 12/12/2017
										p 7 Công thức để tạo ra tiêu đề “sát thủ”
										
				.link-1
					.link-gg
						a(href="")
							i.fab.fa-google-plus-g 1
							.link-gg-1
								p 4
				.link-2
					.link-fb
						a(href="")
							i.fab.fa-facebook
							p Like
						.link-fb-1
							a(href="")
								p 4
				.link-3
					.link-tw
						a(href="")
							i.fab.fa-twitter
							p Tweet
						.link-tw-1
							a(href="")
								p 4
				.link-4
					.link-in
						a(href="")
							i.fab.fa-linkedin-in
							p Share
						.link-in-1
							a(href="")
								p 4