section.ct-tab
	.tab-list
		.container 
			.row.no-gutters.nav 
				- for(x=0; x<6; x++)
					.col-6.col-md-4.col-lg-2.item
						a(href="javascript:void(0)")
							.img 
								img(src="./img/icon/icon-" + (x+1) + ".png", alt="")
								.conten
									h3 Bài viết Facebook ads, quảng cáo sản phẩm
	.tab-content 
		.container 
			.row 
				.col.title 
					h2 Lý do chọn 
			.row 
				.col-lg-4
					figure
						.img 
							img(src="./img/icon/icon-7.png", alt="")
						figcaption 
							h3 Bài viết mới 100% 
							p Thường xuyên cập nhật nội dung mới cho website là cách hiệu quả và bền vững nhất để nâng cao thứ hạng từ khóa.
				.col-lg-4
					figure
						.img 
							img(src="./img/icon/icon-7.png", alt="")
						figcaption 
							h3 Tối ưu từ khóa theo chuẩn SEO
							p Nội dung bài viết tốt, hấp dẫn sẽ kích thích độc giả quan tâm, chú ý tới website của bạn nhiều hơn.
				.col-lg-4
					figure
						.img 
							img(src="./img/icon/icon-7.png", alt="")
						figcaption 
							h3 Chất lượng bài viết mang lại giá trị thực sự
							p Nội dung là yếu tố có vai trò không thể thay đổi dù cho các công cụ tìm kiếm cập nhật thuật toán.

