section.tintuc
	.banner
		.container
			nav.breadcrumb
				ul
					li
						a(href="../index.html") Trang chủ
					li
						a(href="../tintuc.html") Tin tức
				h1 Tin tức
		img(src="/img/banner/bn-8.png", alt="/img/banner/bn-8.png")
	.news
		.container
			h2 Tin tức
			.row
				.col-lg-6
					.main-news
						figure
							img(src="/img/title/title-2.png", alt="/img/title/title-2.png")
						figcaption
							p 21/02/2019
							a(href="../tintuc-ct.html") 6 phương pháp soạn content marketing cho người không giỏi viết
				.col-lg-6
					.child-news
						.item
							figure
								img(src="/img/title/slider-1.png", alt="/img/title/slider-1.png")
							figcaption
								p 08/06/2018
								a(href="../tintuc-ct.html") 15 Bí Kíp Để Viết Content Hiệu Quả
						.item
							figure
								img(src="/img/title/slider-2.png", alt="/img/title/slider-2.png")
							figcaption
								p 08/06/2018
								a(href="../tintuc-ct.html") Dự báo 3 xu hướng Content Marketing năm 2018 
						.item
							figure
								img(src="/img/title/slider-3.png", alt="/img/title/slider-3.png")
							figcaption
								p 08/06/2018
								a(href="../tintuc-ct.html") Đột phá trong năm 2018 với 9 xu hướng Content Marketing được mong đợi nhất
	.pagi-news
		.container
			.row
				.col-lg-4
					.item
						figure
							img(src="/img/title/title-2.png", alt="/img/title/title-2.png")
						figcaption
							p 21/02/2019
							a(href="../tintuc-ct.html") Vai trò của thiết kế trong Content Marketing và những điều Marketer cần biết.
				.col-lg-4
					.item
						figure
							img(src="/img/title/title-2.png", alt="/img/title/title-2.png")
						figcaption
							p 21/02/2019
							a(href="../tintuc-ct.html") 5 Loại content chính mà sản phẩm nào cũng phải có
				.col-lg-4
					.item
						figure
							img(src="/img/title/title-2.png", alt="/img/title/title-2.png")
						figcaption
							p 21/02/2019
							a(href="../tintuc-ct.html") 7 Công thức để tạo ra tiêu đề “sát thủ”
				.col-lg-4
					.item
						figure
							img(src="/img/title/title-2.png", alt="/img/title/title-2.png")
						figcaption
							p 21/02/2019
							a(href="../tintuc-ct.html") 6 phương pháp soạn content marketing cho người không giỏi viết
				.col-lg-4
					.item
						figure
							img(src="/img/title/title-2.png", alt="/img/title/title-2.png")
						figcaption
							p 21/02/2019
							a(href="../tintuc-ct.html") 6 phương pháp soạn content marketing cho người không giỏi viết
				.col-lg-4
					.item
						figure
							img(src="/img/title/title-2.png", alt="/img/title/title-2.png")
						figcaption
							p 21/02/2019
							a(href="../tintuc-ct.html") 6 phương pháp soạn content marketing cho người không giỏi viết
			.row
				.pagi
					ul
						li.active 1
						li 2
						li 3
						li
							span.mdi.mdi-chevron-right
