section.tuyendung-ct
	.banner
		.container
			nav.breadcrumb
				ul
					li
						a(href="./index.html") Trang chủ
					li
						a(href="./tuyendung.html") Tuyển dụng 
					li
						a(href="./tuyendung-ct.html") Nhân viên content marketing
				h2 Tuyển dụng
	.noidung
		.container
			.row
				.col-md-9.chitiet
					h2 Nhân viên Content Marketing
					.row.nd-1
						.col-md-6.pl-0
							.item
								.row
									.col-6.nd-1-1
										i.fas.fa-tag
										p 
											b Chức vụ
									.col-6
										p Nhân viên
							.item
								.row
									.col-6.nd-1-1
										i.fas.fa-list-ul
										p 
											b Ngành nghề
									.col-6
										p Nhân viên content
							.item
								.row
									.col-6.nd-1-1
										i.fas.fa-key
										p 
											b Hình thức làm việc
									.col-6
										p Làm việc theo ca
							.item
								.row
									.col-6.nd-1-1
										i.far.fa-calendar-alt
										p 
											b Hạn nộp hồ sơ
									.col-6
										p 29.12.2018
						.col-md-6.pl-0
							.item
								.row
									.col-6.nd-1-1
										i.fas.fa-user
										p 
											b Số lượng
									.col-6
										p 02
							.item
								.row
									.col-6.nd-1-1
										i.fas.fa-briefcase
										p 
											b Kinh nghiệm
									.col-6
										p 01 năm
							.item
								.row
									.col-6.nd-1-1
										i.fas.fa-graduation-cap
										p 
											b Bằng cấp
									.col-6
										p Tốt nghiệp PTTH
							.item
								.row
									.col-6.nd-1-1
										i.fas.fa-birthday-cake
										p 
											b Độ tuổi
									.col-6
										p 18 - 35
					
					.row.nd-2
						.col-12
							p MÔ TẢ CÔNG VIỆC
						.col-12
							ul
								li Viết nội dung bài đăng lên các kênh: Facebook, website,… theo yêu cầu của quản lý.
								
								li Đề xuất, thực hiện các công việc nhằm tăng chất lượng bài/tin, lượng truy cập facebook, website.
								
								li Hỗ trợ xây dựng nội dung sáng tạo cho các sự kiện, chiến dịch quảng cáo, truyền thông thương hiệu…
								
								li Thực hiện những việc khác theo sự phân công của Quản lý trực tiếp.
								
								li Công việc cụ thể trao đổi trong quá trình phỏng vấn
					.row.nd-2
						.col-12
							p QUYÊN LỢI ĐƯỢC HƯỞNG
						.col-12
							ul
								li Được đóng Bảo hiểm y tế, BHXH theo luật định
							
								li Được hỗ trợ đào tạo chuyên ngành nâng cao nghiệp vụ, kiến thức trình độ
								
								li Được hưởng phúc lợi: Ngày lễ tết, ngày sinh nhật
								
								li Chế độ thưởng theo quy định riêng của Công ty trong từng thời kỳ và được xem xét tuỳ thuộc vào cống hiến của từng cá nhân

					.row.nd-2
						.col-12
							p YÊU CẦU KHÁC
						.col-12
							ul
								li Cẩn thận, trung thực, chính xác
							
								li Nhiệt tình, hoạt bát, có sức khoẻ tốt
								
								li Không vướng bận việc học

					.row.nd-2
						.col-12
							p HỒ SƠ BAO GỒM
						.col-12
							ul
								li Đơn xin việc (ghi rõ vị trí ứng tuyển)
							
								li Sơ yếu lý lịch có xác nhận chính quyền địa phương
								
								li Văn bằng chứng chỉ liên quan
								
								li Giấy khám sức khỏe (thời hạn 6 tháng)
								
								li Hộ khẩu photo công chứng
								
								li CMND photo công chứng
					.row.nd-2
						.col-12
							p NỘP HỒ SƠ
							h4
								span Tại văn phòng Trung tâm: 
								| LL1G Ba Vì, Phường 5, Quận 10, Thành phố Hồ Chí Minh
						.col-12
							ul
								li Hotline: 098 193 5440
								li Email: contact@dichvucontents.com 
					.row.nd-3
						.col-md-4.col-8.form
							.form-1
								form
									input(type='search', placeholder="NỘP HỒ SƠ")
									button.btn.btn-send 
										i.fas.fa-chevron-right
				.col-md-3.tuyendung
					h3 VỊ TRÍ KHÁC
					.item
						a(href="")
							p Nhân viên kinh doanh
							time 31.07.2018
					.item
						a(href="")
							p Nhân viên kế toán
							time 31.7.2018
					.item
						a(href="")
							p Nhân viên bảo vệ
							time 31.7.2018
					.item.notboder
						a(href="")
							p Nhân viên thiết kế
							time 31.07.2018

