section.ct-sliders
	.container
		.row.no-gutters 
			.col 
				.brick
		.wrap
			.swiper-container 
				.swiper-wrapper
					.swiper-slide 
						.img 
							img(src="./img/slider/slider-1.png", alt="")
					.swiper-slide 
						.img 
							img(src="./img/slider/slider-2.png", alt="")
					.swiper-slide 
						.img 
							img(src="./img/slider/slider-3.png", alt="")
					.swiper-slide 
						.img 
							img(src="./img/slider/slider-4.png", alt="")
			.swiper-nav
				.swiper-prev
					em.mdi.mdi-chevron-left
				.swiper-next
					em.mdi.mdi-chevron-right
