footer.ct-footer
	.footer-content
		.container 
			.row 
				.col-lg-4.footer-item
					.img 
						img(src="./img/logo-3.png", alt="")
					.footer-link
						p LL1G Ba Vì, Phường 5, Quận 10, Thành phố Hồ Chí Minh
						a(href="javascript:void(0)") Hotline: 098 193 5440 
						a(href="javascript:void(0)") Email: contact@dichvucontents.com
				.col-lg-4.footer-item 
					.footer-title
						h4 Giới thiệu
					nav.list-group 
						.list-group-item 
							a(href="javascript:void(0)") Tổng quan 
						.list-group-item 
							a(href="javascript:void(0)") Tầm nhìn - Sứ mệnh 
						.list-group-item 
							a(href="javascript:void(0)") Tại sao chọn chúng tôi
						.list-group-item 
							a(href="javascript:void(0)") Cơ cấu tổ chức
						.list-group-item 
							a(href="javascript:void(0)") Tuyển dụng 
				.col-lg-4.footer-item 
					.footer-title
						h4 Dịch vụ Content
					nav.list-group 
						.list-group-item 
							a(href="javascript:void(0)") Bài Fanpage Social
						.list-group-item 
							a(href="javascript:void(0)") Bài viết chuẩn SEO
						.list-group-item 
							a(href="javascript:void(0)") Bài viết Facebook ads, quảng cáo sản phẩm.
						.list-group-item 
							a(href="javascript:void(0)") Bài báo, quảng bá sản phẩm, PR thương hiệu
						.list-group-item 
							a(href="javascript:void(0)") Landing page bán hàng trực tuyến
						.list-group-item 
							a(href="javascript:void(0)") Bài PR đăng website 
	.footer-bottom 
		.container 
			.row 
				.col
					.bottom-main
						.conten 
							h4 Đăng ký nhận bản tin 
							p Kết nối với chúng tôi để nhận được thông tin mới nhất.
						.search 
							form(action="").searchbox
								input(type="text" placeholder='Điền địa chỉ mail của bạn...')
								button(type='submit') Đăng ký 
						.social
							ul.list-inline
								li.list-inline-item
									a(href="#")
										img(src="/img/icon/facebook.png", alt="/img/icon/facebook.png")
								li.list-inline-item
									a(href="#")
										img(src="/img/icon/youtube.png", alt="/img/icon/youtube.png")
								li.list-inline-item
									a(href="#")
										img(src="/img/icon/google-plus.png", alt="/img/icon/google-plus.png")
					

	.footer-copyright 
		.container 
			.row 
				.col-lg-6 
					ul.nav
						li.nav-item
							a.nav-link(href="#") Điều khoản sử dụng
						li.nav-item
							a.nav-link(href="#") Chính sách bảo mật
						li.nav-item
							a.nav-link(href="#") Sitemap 
				.col-lg-6 
					.copyright 
						p Copyright © 2018 Dịch vụ Content. All right reserved. Designed by Cánh Cam.
