section.ct-table
	.container 
		.row 
			.col.title 
				h2 Cơ hội nghề nghiệp
		.row 
			.col.table-main
				table
					thead
						tr 
							th STT
							th Vị trí tuyển dụng
							th Số lượng
							th Hạn nộp hồ sơ
					tbody
						tr
							td 01
							td 
								a(href="../tuyendung-ct.html") NHÂN VIÊN KINH DOANH
							td 01
							td 24/08/2018
						tr
							td 01
							td 
								a(href="../tuyendung-ct.html") NHÂN VIÊN KINH DOANH
							td 01
							td 24/08/2018
						tr
							td 01
							td 
								a(href="../tuyendung-ct.html") NHÂN VIÊN KINH DOANH
							td 01
							td 24/08/2018
						tr
							td 01
							td 
								a(href="../tuyendung-ct.html") NHÂN VIÊN KINH DOANH
							td 01
							td 24/08/2018
						tr
							td 01
							td 
								a(href="../tuyendung-ct.html") NHÂN VIÊN KINH DOANH
							td 01
							td 24/08/2018
						tr
							td 01
							td 
								a(href="../tuyendung-ct.html") NHÂN VIÊN KINH DOANH
							td 01
							td 24/08/2018
						