header.ct-header
	.container
		.main
			.sg-logo
				a(href="javascript:void(0)")
					img(src="./img/logo.png", alt="")
				.toggle-button
					.button
			.main-nav
				ul
					li.active
						a(href="javascript:void(0)") Giới thiệu
					li
						a(href="javascript:void(0)") Dịch vụ
					li
						a(href="javascript:void(0)") Tin tức
					li
						a(href="javascript:void(0)") Liên hệ
			.topbar
				.language
					.language-toggle
						img(src="./img/icon/flag-6.png", alt="")
					.language-menu
						a.language-item(href='#') 
							.img 
								img(src="./img/icon/flag-1.png", alt="")
						a.language-item(href='#') 
							.img
								img(src="./img/icon/flag-2.png", alt="")
				.search
					.searchbox
						input(type="text")
						button(type='button')
							em.lnr.lnr-magnifier
					.search-icon
						em.lnr.lnr-magnifier 
