extends _layout/layout

block variables
	- var title = 'dichvu-ct'
	- var description = 'Description for dichvu-ct page'
	- var bodyclass = 'dichvu-ct'
block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/dichvu-ct/index.pug
block footer
	include ../lib/footer/f-1/index.pug