extends _layout/layout

block variables
	- var title = 'dichvu'
	- var description = 'Description for dichvu page'
	- var bodyclass = 'dichvu'
block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/home/banner/bn-2/index.pug
	include ../lib/dichvu/library/index.pug
block footer
	include ../lib/footer/f-1/index.pug
