extends _layout/layout

block variables
	- var title = 'gioithieu'
	- var description = 'Description for gioithieu page'
	- var bodyclass = 'gioithieu'
block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/gioithieu/index.pug
block footer
	include ../lib/footer/f-1/index.pug
