extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/home/banner/bn-1/index.pug
	include ../lib/home/tab/t-1/index.pug
	include ../lib/home/introduce/i-1/index.pug
	include ../lib/home/feel/f-1/index.pug
	include ../lib/home/new/n-1/index.pug
	include ../lib/home/slider/s-1/index.pug
block footer
	include ../lib/footer/f-1/index.pug
