extends _layout/layout

block variables
	- var title = 'lienhe'
	- var description = 'Description for lienhe page'
	- var bodyclass = 'lienhe'
block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/lienhe/index.pug
block footer
	include ../lib/footer/f-1/index.pug
