extends _layout/layout

block variables
	- var title = 'tintuc-ct'
	- var description = 'Description for tintuc-ct page'
	- var bodyclass = 'tintuc-ct'
block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/tintuc-ct/index.pug
block footer
	include ../lib/footer/f-1/index.pug