extends _layout/layout

block variables
	- var title = 'tintuc'
	- var description = 'Description for tintuc page'
	- var bodyclass = 'tintuc'
block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/tintuc/index.pug
block footer
	include ../lib/footer/f-1/index.pug
