extends _layout/layout

block variables
	- var title = 'tuyendung-ct'
	- var description = 'Description for tuyendung-ct page'
	- var bodyclass = 'tuyendung-ct'
block header
	include ../lib/header/h-1/index.pug
block main
	include ../lib/tuyendung-ct/index.pug
block footer
	include ../lib/footer/f-1/index.pug