header.ct-library
	.container 
		.row 
			.col.title 
				h2 Dịch vụ 
		.row 
			.col-sm-6.col-lg-4.item
				a(href="./dichvu-ct.html") 
					.img 
						img(src="./img/title/library-1.png", alt="")
			.col-sm-6.col-lg-4.item
				a(href="./dichvu-ct.html") 
					.img 
						img(src="./img/title/library-2.png", alt="")
			.col-sm-6.col-lg-4.item
				a(href="./dichvu-ct.html") 
					.img 
						img(src="./img/title/library-3.png", alt="")
			.col-sm-6.col-lg-4.item
				a(href="./dichvu-ct.html") 
					.img 
						img(src="./img/title/library-4.png", alt="")
			.col-sm-6.col-lg-4.item
				a(href="./dichvu-ct.html") 
					.img 
						img(src="./img/title/library-5.png", alt="")
			.col-sm-6.col-lg-4.item
				a(href="./dichvu-ct.html") 
					.img 
						img(src="./img/title/library-6.png", alt="")
