section.ct-banner-2
	.banner
		
		.container
			nav.breadcrumb
				ul
					li
						a(href="index.html") Trang chủ
					li
						a(href="gioithieu.html") Giới thiệu
				h1 Giới thiệu
		img(src="./img/banner/bn-2.png", alt="./img/banner/bn-2.png")
