section.ct-banner 
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				a(href="javascript:void(0)")
					.img
						img(src="./img/banner/bn-11.png", alt="")
			.swiper-slide
				a(href="javascript:void(0)")
					.img
						img(src="./img/banner/bn-1.jpg", alt="")
			.swiper-slide
				a(href="javascript:void(0)")
					.img
						img(src="./img/banner/bn-12.png", alt="")
		.swiper-pagination
		//- .swiper-nav
		//- 	.swiper-prev
		//- 		em.lnr.lnr-chevron-left
		//- 	.swiper-next
		//- 		em.lnr.lnr-chevron-right
